/*Importa Space Grotesk desde Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap");
@import "tailwindcss";

:root {
  font-family: "Space Grotesk", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
}
@layer base {
  html, body, #root {
    height: auto;
    margin: 0;
    background-color: #1a202c; /* Tailwind's bg-gray-900 */
  }
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #00c950;
  cursor: pointer;
  transition: background-color 0.5s;
  margin-bottom: 17%;
}
button:hover {
  background-color: #000000;

}
.ag-theme-alpine.custom-space {
  --ag-background-color: #525252;
  --ag-foreground-color: #ffffff;
  --ag-header-background-color: #000000;
  --ag-header-foreground-color: #ffffff;
  --ag-font-family: "Space Grotesk", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
}
.div-cepas{
  min-width: 18%;
}

.ag-body-viewport-wrapper.ag-layout-normal {
  overflow-x: scroll;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(255,255,255,.5);
}